<title>VerD&D</title>
<div id="leftBar">
    <a href="registration">Please sign up or something man.</a>
</div>

<div id="gameBox">
    <div id="gameDescriptor">Your games</div>
    <button id="newGame">Create new game</button>
    <div id="gameContainer"></div>
</div>

<style>
    #leftBar {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 250px;
        height: 360px;
        background-color: #eeeeee;
        z-index: 1;
        border-radius: 10px 10px 10px 10px;
    }

    #newGame {
        position: absolute;
        width: 250px;
        bottom: 300px;
        border-radius: 0px;
        border-left: none;
        border-right: none;
    }

    #gameBox {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 250px;
        height: 360px;
        background-color: #eeeeee;
        overflow: scroll;
        z-index: 1;
        border-radius: 10px 10px 10px 10px;
    }

    #gameContainer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 260px;
        height: 300px;
        background-color: #eeeeee;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: 10px 10px 10px 10px;
    }

    #gameDescriptor {
        position: absolute;
        left: 10px;
        top: 10px;
    }
</style>

<script>
    async function signIn() {
        while (ws.readyState === 0) {
            await new Promise((resolve) => setTimeout(resolve, 10));
        }
        if (localStorage['id']) {
            ws.send(JSON.stringify({
                userId: localStorage['id'],
                event: {
                    entity: 'NAME',
                    pass: localStorage['pass'],
                    name: localStorage['name'],
                    id: localStorage['id'],
                },
                gameId: -1,
                handler: 'META'
            }))
        }
    }

    async function requestGames() {
        ws.send(JSON.stringify({
            userId: localStorage['id'],
            event: {
                entity: 'META',
                action: 'ENUMERATE'
            },
            gameId: -3,
            handler: 'META'
        }))
    }

    const ws = new WebSocket('wss://verDnD.ca/');

    ws.addEventListener('message', (event) => {
        const message = JSON.parse(event.data);
        if (message.entity && message.entity === 'NAME' && message.accepted) {
            requestGames();
        }
        if (message.newId) {
            window.location.pathname = "/game/" + message.newId
        } else if (message.list) {
            for (const val of message.list) {
                const newBox = document.createElement('div');
                const newText = document.createElement('a');
                newText.href = '/game/' + val.toString();
                newBox.append(newText);
                gameContainer.append(newBox);
                newBox.style.position = 'relative';
                newBox.style.left = "20px";
                newText.innerText = 'Game #' + val.toString();
            }
        }
    })

    newGame.addEventListener('click', () => {
        if (ws.readyState === 0) {
            alert("jeez man leave 0.01 seconds for the websocket to connect")
        } else if (localStorage['id']) {
            ws.send(
                JSON.stringify({
                    userId: localStorage['id'],
                    event: {
                        entity: 'META',
                        action: 'CREATE'
                    },
                    gameId: -2,
                    handler: 'META'
                }),
            );
        }
    })

    signIn();
</script>