<title>VerD&D</title>
<div id="leftBar">
    <a href="registration" id="reg">Please sign up or something man.</a>
</div>

<div id="gameBox">
    <div id="gameDescriptor">Your games</div>
    <button id="newGame">Create new game</button>
    <div id="gameContainer"></div>
</div>

<style>
    #reg {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    #leftBar {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 250px;
        height: 360px;
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
        z-index: 1;
        border-radius: 10px 10px 10px 10px;
    }

    #newGame {
        position: absolute;
        width: 250px;
        bottom: 300px;
        border-radius: 0px;
        border-left: none;
        border-right: none;
    }

    #gameBox {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 250px;
        height: 360px;
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
        overflow: auto;
        z-index: 1;
        border-radius: 10px 10px 10px 10px;
    }

    #gameContainer {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 260px;
        height: 300px;
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 10px 10px 10px 10px;
    }

    #gameDescriptor {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    input {
        background-color: rgba(50, 50, 50, 1);
        color: rgba(255, 255, 255, 1);
        border-color: rgba(80, 80, 80, 1);
    }

    button {
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
        border-color: rgba(80, 80, 80, 1);
    }

    button:not(:disabled):hover {
        background-color: rgba(50, 50, 50, 1);
        color: rgba(255, 255, 255, 1);
        border-color: rgba(80, 80, 80, 1);
    }

    button:disabled {
        background-color: rgba(50, 50, 50, 1);
        color: rgba(220, 220, 220, 1);
        border-color: rgba(80, 80, 80, 1);
    }

    a {
        color: rgba(0, 150, 220, 1);
    }

    a:visited {
        color: rgba(200, 90, 200, 1);
    }
</style>
