---
import Board from '../components/Board.astro';
import ModeMenu from '../components/ModeMenu.astro';
import Layout from '../layouts/Layout.astro';
import Colours from '../components/Colours.astro';
---

<Layout>
<title> Gameboard </title>
	<ModeMenu/>
	<Board/>
	<Colours/>
</Layout>
