---
import Board from '../components/Board.astro';
import ModeMenu from '../components/ModeMenu.astro';
import Layout from '../layouts/Layout.astro';
import LeftBar from '../components/LeftBar.astro';
import RightBar from '../components/RightBar.astro';
---

<Layout>
	<title> Gameboard </title>
	<script src="/src/scripts/mainDriver.ts"></script>
	<ModeMenu/>
	<Board/>
	<LeftBar/>
	<RightBar/>
</Layout>
