<div id="bottomBar">
    <div id="bottomTooltip">
        <p id="bottomTooltipText"></p>
        <input type="text" id="tokenName" />
        <label id="tokenNameLabel">Insert token name:</label>
        <input type="text" id="measureDegrees" />
    </div>
    <div class="bottomBox" id="bottomBox1">
        <button class="bottomButton" id="bottomDrawBox1">Select [1]</button>
        <button class="bottomButton" id="bottomSelectBox1">Exit [1] [Esc]</button>
        <button class="bottomButton" id="bottomViewBox1">WIP1</button>
    </div>
    <div class="bottomBox" id="bottomBox2">
        <button class="bottomButton" id="bottomDrawBox2">Rect [2]</button>
        <button class="bottomButton" id="bottomSelectBox2">Delete [2] [Back]</button>
        <button class="bottomButton" id="bottomViewBox2">Zoom [Scroll]</button>
    </div>
    <div class="bottomBox" id="bottomBox3">
        <button class="bottomButton" id="bottomDrawBox3">Ellipse [3]</button>
        <button class="bottomButton" id="bottomSelectBox3">Recolour [3]</button>
        <button class="bottomButton" id="bottomViewBox3">Pan</button>
    </div>
    <div class="bottomBox" id="bottomBox4">
        <button class="bottomButton" id="bottomDrawBox4">Poly [4]</button>
        <button class="bottomButton" id="bottomSelectBox4">Layer U. [4]</button>
        <button class="bottomButton" id="bottomViewBox4">Move</button>
    </div>
    <div class="bottomBox" id="bottomBox5">
        <button class="bottomButton" id="bottomDrawBox5">Wall [5]</button>
        <button class="bottomButton" id="bottomSelectBox5">Layer D. [5]</button>
        <button class="bottomButton" id="bottomViewBox5">Recenter [5]</button>
    </div>
    <div class="bottomBox" id="bottomBox6">
        <button class="bottomButton" id="bottomDrawBox6">Close [6]</button>
        <button class="bottomButton" id="bottomSelectBox6">Tokenize [6]</button>
        <button class="bottomButton" id="bottomViewBox6">Toggle Laser [6]</button>
    </div>
    <div class="bottomBox" id="bottomBox7">
        <button class="bottomButton" id="bottomDrawBox7">Cancel [7]</button>
        <button class="bottomButton" id="bottomSelectBox7">Rename (T) [7]</button>
        <button class="bottomButton" id="bottomViewBox7">Recolour Laser [7]</button>
    </div>
    <div class="bottomBox" id="bottomBox8">
        <button class="bottomButton" id="bottomDrawBox8">WIP1 [8]</button>
        <button class="bottomButton" id="bottomSelectBox8">Recolour (T) [8]</button>
        <button class="bottomButton" id="bottomViewBox8">Start Measure [8]</button>
    </div>
    <div class="bottomBox" id="bottomBox9">
        <button class="bottomButton" id="bottomDrawBox9">WIP2 [9]</button>
        <button class="bottomButton" id="bottomSelectBox9">Resize [9]</button>
        <button class="bottomButton" id="bottomViewBox9">Stop Measure [9]</button>
    </div>
    <div class="bottomBox" id="bottomBox0">
        <button class="bottomButton" id="bottomDrawBox0">WIP3 [0]</button>
        <button class="bottomButton" id="bottomSelectBox0">Rebuild [0]</button>
        <button class="bottomButton" id="bottomViewBox0">WIP2</button>
    </div>
</div>

<style>
    #bottomTooltipText {
        position: absolute;
        left: 10px;
    }

    #measureDegrees {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }

    #tokenNameLabel {
        position: absolute;
        left: 100px;
        width: 100px;
        bottom: 2px;
        z-index: 3;
    }

    #tokenName {
        position: absolute;
        left: 200px;
        width: 100px;
        bottom: 0px;
        pointer-events: auto;
        background: rgba(200, 200, 200, 1);
        z-index: 3;
    }

    #bottomTooltip {
        position: absolute;
        height: 60px;
        width: 400px;
        bottom: 60px;
        left: 100px;
        visibility: hidden;
        background-color: #eeeeee;
        font-size: 12px;
        border-radius: 10px;
    }

    #bottomBar {
        position: absolute;
        height: 60px;
        width: 600px;
        bottom: 30px;
        z-index: 2;
        left: 400px;
        font-size: 8px;
    }

    .bottomBox {
        position: absolute;
        height: 56px;
        width: 56px;
        visibility: hidden;
    }

    .bottomButton {
        position: absolute;
        height: 56px;
        width: 56px;
        bottom: 0px;
        left: 0px;
        font-size: 12px;
        border-radius: 10px;
        border: none;
    }

    .bottomButton:disabled {
        background-color: #aaaaaa;
        border: none;
    }
</style>