<title>Gameboard</title>
<div id="loadBlock">
    <h1 id="loadText">Loading</h1>
</div>
<style>
    #loadBlock {
        background: #222222;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 3000px;
        height: 3000px;
        z-index: 90;
    }

    #loadText {
        position: absolute;
        color: #3333dd;
        left: 500px;
        top: 300px;
        z-index: 90;
    }
</style>

<div id="modeMenuId">
    <button class="modeButton" id="viewMenuButton" disabled>View [A]</button>
    <button class="modeButton" id="drawMenuButton">Draw [D]</button>
</div>

<div class="canvasContainer">
    <script>
        document.getElementById('loadText').style.left = window.innerWidth / 2 - 50 + "px";
        document.getElementById('loadText').style.top = window.innerHeight / 2 - 20 + "px";
        document.getElementById('loadBlock').style.width = window.innerWidth + "px";
        document.getElementById('loadBlock').style.height = window.innerHeight + "px";
    </script>
    <canvas ondragstart="return false;" ondrop="return false;" id="board" oncontextmenu="return false;"
        tabindex='1'></canvas>
</div>

<input type="file" id="fileInput">

<style>
    #board {
        background: #444444;
        position: absolute;
        z-index: 0;
        left: 0px;
        top: 0px;
    }
</style>


<style>
    .modeButton {
        background: rgba(200, 200, 200, 1);
        z-index: 2;
        width: 100px;
        height: 50px;
        pointer-events: auto;
    }

    .modeButton:disabled {
        background-color: rgba(150, 150, 150, 1);
    }

    #modeMenuId {
        background-color: rgba(200, 200, 200, 1);
        border: solid black;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        left: 10px;
        width: 100px;
        height: 100px;
        pointer-events: none;
    }

    #fileInput {
        visibility: hidden;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }
</style>