<div id="leftBar">
    <button class="leftTab" id="hideLeftBar">Hide</button>
    <button class="leftTab" id="showUser">Users</button>
    <button class="leftTab" id="showRoll">Roll</button>
    <button class="leftTab" id="changeImage">Image</button>
    <toolcool-color-picker class="leftTab" color="#43b3ae" id="showColour"></toolcool-color-picker>
    <div id="colourContainer">

        <button class="leftTab" id="colourPicker"> Pick </button>
        <button class="leftTab" id="colourBackground"> BG </button>

        <button class="colourTab" id="col1"> </button>
        <button class="colourTab" id="col2"> </button>
        <button class="colourTab" id="col3"> </button>
        <button class="colourTab" id="col4"> </button>
        <button class="colourTab" id="col5"> </button>
        <button class="colourTab" id="col6"> </button>
        <button class="colourTab" id="col7"> </button>
    </div>

    <div id="rollContainer">
    </div>

    <div id="userContainer">
    </div>

    <script type="text/javascript" src="toolcool-color-picker.min.js"></script>
</div>

<style>
    .leftTab {
        position: absolute;
        z-index: 2;
        right: -50px;
        width: 50px;
        height: 30px;
        pointer-events: auto;
        border: none;
        border-radius: 0px 10px 10px 0px;
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
    }

    #hideLeftBar {
        top: 0px;
    }

    #showUser {
        top: 40px;
    }

    #showColour {
        top: 80px;
        z-index: 3;
        pointer-events: auto;
    }

    #showRoll {
        top: 120px;
    }

    #changeImage {
        top: 160px;
    }

    #colourPicker {
        top: 200px;
    }

    #colourBackground {
        top: 240px;
    }

    #userContainer {
        position: absolute;
        visibility: hidden;
        z-index: 4;
        height: 280px;
        width: 230px;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgba(200, 200, 200, 1);
        border-radius: 10px 0px 10px 10px;
    }

    #colourContainer {
        position: absolute;
        z-index: 2;
        height: 280px;
        width: 230px;
    }

    #rollContainer {
        position: absolute;
        z-index: 4;
        height: 280px;
        width: 230px;
        background-color: rgba(200, 200, 200, 1);
        border-radius: 10px 0px 10px 10px;
    }

    .colourTab {
        border: none;
        position: absolute;
        width: 25px;
        height: 25px;
        top: 8px;
        border-radius: 5px 5px 5px 5px;
    }

    #leftBar {
        background-color: rgba(200, 200, 200, 1);
        position: absolute;
        top: 40px;
        left: 10px;
        width: 230px;
        height: 280px;
        z-index: 4;
        pointer-events: auto;
        border-radius: 10px 0px 10px 10px;
    }

    #rollContainer {
        visibility: hidden;
    }
</style>