<div id="leftBar">
    <button class="leftTab" id="hideLeftBar">Hide</button>
    <button class="leftTab" id="showUser">Users</button>
    <button class="leftTab" id="showRoll">Roll</button>
    <button class="leftTab" id="changeImage">Image</button>
    <toolcool-color-picker class="leftTab" color="#e76ff1" id="showColour"></toolcool-color-picker>
    <div id="colourContainer">

        <button class="leftTab" id="colourPicker"> Pick </button>
        <button class="leftTab" id="colourBackground"> BG </button>

        <button class="colourTab" id="col1"> </button>
        <button class="colourTab" id="col2"> </button>
        <button class="colourTab" id="col3"> </button>
        <button class="colourTab" id="col4"> </button>
        <button class="colourTab" id="col5"> </button>
        <button class="colourTab" id="col6"> </button>
    </div>

    <div id="rollContainer">
    </div>

    <div id="userContainer">
    </div>

    <script type="text/javascript" src="toolcool-color-picker.min.js"></script>
</div>

<style>
    .leftTab {
        background-color: rgba(200, 200, 200, 1);
        border: solid black;
        position: absolute;
        z-index: 2;
        right: -50px;
        width: 50px;
        height: 30px;
        pointer-events: auto;
    }

    #hideLeftBar {
        top: 8px;
        border: solid black;
        height: 30px;
        pointer-events: auto;
    }

    #showUser {
        top: 48px;
        border: solid black;
        height: 30px;
        pointer-events: auto;
    }

    #showColour {
        top: 88px;
        border: solid black;
        z-index: 3;
        height: 25.2px;
        width: 45.2px;
        pointer-events: auto;
    }

    #showRoll {
        top: 128px;
        border: solid black;
        height: 30px;
        pointer-events: auto;
    }

    #changeImage {
        top: 168px;
        border: solid black;
        height: 30px;
        pointer-events: auto;
    }

    #colourPicker {
        top: 208px;
    }

    #colourBackground {
        top: 248px;
    }

    #userContainer {
        position: absolute;
        visibility: hidden;
        background-color: rgba(200, 200, 200, 1);
        z-index: 4;
        height: 280px;
        width: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #colourContainer {
        position: absolute;
        background-color: rgba(200, 200, 200, 1);
        z-index: 2;
        height: 280px;
        width: 250px;
    }

    #rollContainer {
        position: absolute;
        background-color: rgba(200, 200, 200, 1);
        z-index: 4;
        height: 280px;
        width: 250px;
    }

    .colourTab {
        background-color: rgba(200, 200, 200, 1);
        position: absolute;
        width: 30px;
        height: 30px;
        top: 8px;
        border: solid black;
    }

    #leftBar {
        background-color: rgba(200, 200, 200, 1);
        position: absolute;
        top: 40px;
        left: 10px;
        width: 250px;
        height: 280px;
        border: solid black;
        z-index: 4;
        pointer-events: none;
    }

    #rollContainer {
        visibility: hidden;
    }
</style>