<div id="rightBar">
    <button class="rightTab" id="hideRightBar">Hide</button>

    <button class="rightTab" id="layerTab">Layers</button>
    <button class="rightTab" id="rollTab">Roll</button>
    <button class="rightTab" id="objectTab">Obj</button>
    <button class="rightTab" id="characterTab">Char</button>

    <div id="objBox">
        <div id="topObjBox">
            <label id="topLabel" class="objBoxLabel">Template Object</label>
            <canvas id="topObjContainer" class="objContainer" width="100" height="100"></canvas>
            <input type="text" id="renameTopObj" class="renameObj"></input>
            <button id="recolTopObj" class="recolObj">Recolour</button>
            <button id="recolTopEdge" class="recolEdge">Recolour Edges</button>
            <input type="checkbox" id="setActiveTop" class="setActiveObj"></input>
            <label for="setActiveTop" style="position: absolute; top: 245px; left: 20px;">Is token</label>
            <button id="copyTopFromBottom" class="copyObj">Copy from bottom</button>
            <button id="updateTopImage" class="updateImgObj">Update Image</button>
            <button id="removeTopImage" class="removeImgObj">Remove Image</button>
        </div>
        <div id="bottomObjBox">
            <label id="bottomLabel" class="objBoxLabel">Currently Selected</label>
            <canvas id="bottomObjContainer" class="objContainer" width="100" height="100"></canvas>
            <input type="text" id="renameBottomObj" class="renameObj"></input>
            <button id="recolBottomObj" class="recolObj">Recolour</button>
            <button id="recolBottomEdge" class="recolEdge">Recolour Edges</button>
            <input type="checkbox" id="setActiveBottom" class="setActiveObj"></input>
            <label for="setActiveBottom" style="position: absolute; top: 245px; left: 20px;">Is token</label>
            <button id="copyBottomFromTop" class="copyObj">Copy from top</button>
            <button id="updateBottomImage" class="updateImgObj">Update Image</button>
            <button id="removeBottomImage" class="removeImgObj">Remove Image</button>
        </div>
    </div>
    <div id="chatBox">
    </div>
    <div id="layerLayerObj">
        <div id="layerTop">
            <p id="currLayerText">Currently Selected : Layer 0</p>
            <p id="renameLayerText">Name:</p>
            <p id="xLayerText">X offset:</p>
            <p id="yLayerText">Y offset:</p>
            <input type="text" id="rename">
            </input>
            <input type="text" id="xChange">
            </input>
            <input type="text" id="yChange">
            </input>
            <button id="layerUpButton">Move Up</button>
            <button id="layerDownButton">Move Down</button>
            <button id="deleteLayerButton">Remove Current Layer</button>
        </div>
        <div id="descLayerObj">
            <p id="descLayerObjNumText">Layer #</p>
            <p id="descLayerObjFirstCheck">GM<br>Vis</p>
            <p id="descLayerObjSecondCheck">Player<br>Vis</p>
        </div>
        <div id="layerBottom">
        </div>
        <button id="addLayerButton">Make Layer</button>
    </div>
</div>

<style>
    .rightTab {
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
        position: absolute;
        z-index: 2;
        top: 0px;
        left: -50px;
        width: 50px;
        height: 30px;
        pointer-events: auto;
        border-radius: 10px 0px 0px 10px;
        border: none;
    }

    #objBox {
        position: absolute;
        visibility: hidden;
        width: 250px;
    }

    #topObjBox {
        position: absolute;
        width: 250px;
    }

    #bottomObjBox {
        position: absolute;
        width: 250px;
        visibility: hidden;
        pointer-events: none;
    }

    #hideRightBar {
        top: 0px;
    }

    #layerTab {
        top: 40px;
    }

    #rollTab {
        top: 80px;
    }

    #objectTab {
        top: 120px;
    }

    #characterTab {
        top: 160px;
    }

    #rightBar {
        background: rgba(30, 30, 30, 1);
        color: rgba(255, 255, 255, 1);
        position: absolute;
        z-index: 2;
        top: 40px;
        right: 10px;
        width: 250px;
        height: 270px;
        pointer-events: none;
        border-radius: 0px 10px 10px 10px;
    }

    #layerUpButton {
        position: absolute;
        right: 10px;
        top: 106px;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        z-index: 3;
    }

    #layerDownButton {
        position: absolute;
        right: 10px;
        top: 156px;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        z-index: 3;
    }

    #currLayerText {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 230px;
        white-space: nowrap;
    }

    #rename {
        position: absolute;
        top: 65px;
        left: 70px;
        width: 157px;
    }

    #renameLayerText {
        position: absolute;
        top: 52px;
        left: 10px;
    }

    #xChange {
        position: absolute;
        top: 110px;
        left: 70px;
        width: 50px;
    }

    #xLayerText {
        position: absolute;
        top: 97px;
        left: 10px;
    }

    #yChange {
        position: absolute;
        top: 160px;
        left: 70px;
        width: 50px;
    }

    #yLayerText {
        position: absolute;
        top: 147px;
        left: 10px;
    }

    #layerLayerObj {
        position: absolute;
        font-size: 14px;
        visibility: hidden;
        border-radius: 0px 10px 10px 10px;
    }

    #layerTop {
        position: absolute;
        width: 250px;
        top: 0px;
        height: 250px;
        width: 246px;
    }

    #layerBottom {
        position: absolute;
        width: 250px;
        top: 300px;
        height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #descLayerObj {
        position: absolute;
        width: 250px;
        top: 250px;
        height: 50px;
        border: 1px solid rgba(80, 80, 80, 1);
        border-left: none;
        border-right: none;
        z-index: 4;
    }

    #descLayerObjFirstCheck {
        position: absolute;
        left: 187px;
        width: 50px;
        text-align: center;
    }

    #descLayerObjSecondCheck {
        position: absolute;
        left: 137px;
        width: 50px;
        text-align: center;
    }

    #addLayerButton {
        position: absolute;
        left: 0px;
        width: 250px;
        bottom: 0px;
        height: 50px;
        border-radius: 0px 0px 10px 10px;
        z-index: 3;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    #deleteLayerButton {
        position: absolute;
        left: 0px;
        width: 250px;
        bottom: 0px;
        height: 50px;
        border-radius: 0px;
        z-index: 3;
        border-left: none;
        border-right: none;
    }

    #descLayerObjNumText {
        position: absolute;
        left: 10px;
    }

    #chatBox {
        position: absolute;
        visibility: hidden;
        pointer-events: none;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;
        box-sizing: border-box;
    }

    .objContainer {
        position: absolute;
        background-color: #444444;
        left: 75px;
        top: 40px;
        height: 100px;
        width: 100px;
    }

    .renameObj {
        position: absolute;
        top: 185px;
        left: 20px;
    }

    .recolObj {
        position: absolute;
        top: 155px;
        left: 20px;
    }

    .recolEdge {
        position: absolute;
        top: 215px;
        left: 20px;
    }

    .setActiveObj {
        position: absolute;
        top: 245px;
        left: 70px;
    }

    .copyObj {
        position: absolute;
        top: 335px;
        left: 20px;
    }

    .updateImgObj {
        position: absolute;
        top: 275px;
        left: 20px;
    }

    .removeImgObj {
        position: absolute;
        top: 305px;
        left: 20px;
    }

    .objBoxLabel {
        position: absolute;
        top: 10px;
        left: 70px;
    }
</style>