<div id="rightBar">
    <button class="rightTab" id="hideRightBar">Hide</button>

    <button class="rightTab" id="rollTab">Roll [P]</button>
    <button class="rightTab" id="tokenTab">T</button>
    <button class="rightTab" id="layerTab">Layers [L]</button>
    <button class="rightTab" id="characterTab">C</button>

    <div id="chatBox">
        <textarea id="chatBoxTextBox"></textarea>
    </div>
    <div id="layerLayerObj">
        <div id="layerTop">
            <p id="layerText">Edit Layer</p>
            <p id="currLayerText">Currently Selected : Layer 0</p>
            <p id="renameLayerText">Name:</p>
            <p id="xLayerText">X offset:</p>
            <p id="yLayerText">Y offset:</p>
            <input id="rename">
            </input>
            <input id="xChange">
            </input>
            <input id="yChange">
            </input>
            <button id="layerUpButton">Move Up</button>
            <button id="layerDownButton">Move Down</button>
            <button id="deleteLayerButton">Remove Current Layer</button>
        </div>
        <div id="layerMid">
            <div id="descLayerObj">
                <p id="descLayerObjNumText">Layer #</p>
                <p id="descLayerObjFirstCheck">GM<br>Vis</p>
                <p id="descLayerObjSecondCheck">Player<br>Vis</p>
            </div>
            <button id="tempButtonObj">Make Layer</button>
        </div>
        <div id="layerBottom"></div>
    </div>
</div>

<style>
    .rightTab {
        background-color: rgba(200, 200, 200, 1);
        border: solid black;
        position: absolute;
        z-index: 2;
        top: 10px;
        left: -50px;
        width: 50px;
        height: 50px;
        pointer-events: auto;
    }

    #tokenTab {
        top: 190px;
        visibility: hidden;
    }

    #layerTab {
        top: 70px;
    }

    #characterTab {
        top: 250px;
        visibility: hidden;
    }

    #rollTab {
        top: 130px;
    }

    #hideRightBar {
        position: absolute;
        top: 10px;
    }

    #rightBar {
        background-color: rgba(200, 200, 200, 1);
        border: solid black;
        position: absolute;
        z-index: 2;
        top: 40px;
        right: 10px;
        width: 250px;
        height: 270px;
        pointer-events: none;
    }

    #layerUpButton {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40px;
        height: 40px;
        border-radius: 0px;
        border: 2px solid #000000;
        z-index: 3;
    }

    #layerDownButton {
        position: absolute;
        right: 0px;
        top: 40px;
        width: 40px;
        height: 40px;
        border-radius: 0px;
        border: 2px solid #000000;
        z-index: 3;
    }

    #layerText {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    #currLayerText {
        position: absolute;
        top: 45px;
        left: 10px;
    }

    #rename {
        position: absolute;
        top: 90px;
        left: 70px;
    }

    #renameLayerText {
        position: absolute;
        top: 77px;
        left: 10px;
    }

    #xChange {
        position: absolute;
        top: 130px;
        left: 70px;
    }

    #xLayerText {
        position: absolute;
        top: 117px;
        left: 10px;
    }

    #yChange {
        position: absolute;
        top: 170px;
        left: 70px;
    }

    #yLayerText {
        position: absolute;
        top: 157px;
        left: 10px;
    }

    #layerLayerObj {
        background-color: #cccccc;
        font-size: 14px;
        visibility: hidden;
    }

    #layerTop {
        position: absolute;
        width: 250px;
        top: 0px;
        height: 250px;
        width: 246px;
        border: solid black;
    }

    #layerMid {
        position: absolute;
        width: 250px;
        top: 255px;
        height: 100px;
        border: black;
    }

    #layerBottom {
        position: absolute;
        width: 250px;
        top: 350px;
        height: 250px;
        border: black;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #descLayerObj {
        border: solid black;
        width: 250px;
        height: 50px;
        position: absolute;
        top: 0px;
    }

    #descLayerObjFirstCheck {
        position: absolute;
        left: 187px;
        width: 50px;
        text-align: center;
    }

    #descLayerObjSecondCheck {
        position: absolute;
        left: 137px;
        width: 50px;
        text-align: center;
    }

    #tempButtonObj {
        position: absolute;
        left: 0px;
        width: 246px;
        top: 50px;
        height: 50px;
        border-radius: 0px;
        border: 2px solid #000000;
        z-index: 3;
    }

    #deleteLayerButton {
        position: absolute;
        left: 0px;
        width: 246px;
        bottom: 0px;
        height: 50px;
        border-radius: 0px;
        border: 2px solid #000000;
        z-index: 3;
    }

    #descLayerObjNumText {
        position: absolute;
        left: 10px;
    }

    #chatBox {
        position: absolute;
        background-color: #cccccc;
        visibility: hidden;
        pointer-events: none;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #chatBoxTextBox {
        background-color: #cccccc;
        visibility: hidden;
        pointer-events: none;
    }
</style>