<div class="canvasContainer">
    <canvas id="board"></canvas>
    <script src="/src/scripts/gameboardmain.ts"></script>
</div>

<style>
  canvas {
    background: #444444;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
  }
</style>