<div id="colContainer">
    <input type="range" id="redColSlide" min="0" max="255">
    <label class="colLabel" id="redLabel">R</label>
    <input type="text" id="redColText">
    <input type="range" id="greenColSlide" min="0" max="255">
    <label class="colLabel" id="greenLabel">G</label>
    <input type="text" id="greenColText">
    <input type="range" id="blueColSlide" min="0" max="255">
    <label class="colLabel" id="blueLabel">B</label>
    <input type="text" id="blueColText">
    <input type="range" id="opacColSlide" min="0" max="100">
    <label class="colLabel" id="opacLabel">O</label>
    <input type="text" id="opacColText">
    <canvas id="colourSquare"></canvas>
    
    <script src="/src/scripts/leftBarMain.ts"></script>
    
    <button class="colorTab" id="col1"></button>
    <button class="colorTab" id="col2"></button>
    <button class="colorTab" id="col3"></button>
    <button class="colorTab" id="col4"></button>
    <button class="colorTab" id="col5"></button>
    <button class="colorTab" id="col6"></button>
    
</div>

<style>
    .colLabel {
        position: absolute;
        left: 10px;
    }
    
    #redLabel {
        top: 10px;
    }
    
    #greenLabel {
        top: 40px;
    }
    
    #blueLabel {
        top: 70px;
    }
    
    #opacLabel {
        top: 100px;
    }

    .colorTab {
        background-color: rgba(200, 200, 200, 0.5);
        position: absolute;
        width: 30px;
        height: 30px;
        top: -40px;
        border: solid black;
        pointer-events: auto;
    }

    #colContainer {
        background-color: rgba(200, 200, 200, 0.5);
        position: absolute;
        bottom: 480px;
        left: 10px;
        width: 250px;
        height: 250px;
        border: solid black;
        pointer-events: none;
    }
    
    #redColSlide {
        position: absolute;
        top: 10px;
        left: 25px;
        width: 175px;
        pointer-events: auto;
    }
    
    #redColText {
        position: absolute;
        top: 10px;
        left: 215px;
        width: 25px;
        pointer-events: auto;
    }
    
    #greenColSlide {
        position: absolute;
        top: 40px;
        left: 25px;
        width: 175px;
        pointer-events: auto;
    }
    
    #greenColText {
        position: absolute;
        top: 40px;
        left: 215px;
        width: 25px;
        pointer-events: auto;
    }
    
    #blueColSlide {
        position: absolute;
        top: 70px;
        left: 25px;
        width: 175px;
        pointer-events: auto;
    }
    
    #blueColText {
        position: absolute;
        top: 70px;
        left: 215px;
        width: 25px;
        pointer-events: auto;
    }
    
    #opacColSlide {
        position: absolute;
        top: 100px;
        left: 25px;
        width: 175px;
        pointer-events: auto;
    }
    
    #opacColText {
        position: absolute;
        top: 100px;
        left: 215px;
        width: 25px;
        pointer-events: auto;
    }
    
    #colourSquare {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 230px;
        height: 100px;
        background-color:rgba(200, 0, 0, 1);
    }
</style>